.header {
    min-height: 42px;
    background-image: url('./small-navbar-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav a {
    color: #e1e1e1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 13px;
}

.logo {
    margin: auto;
    padding-top: 15px;
}

.nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-rows: 30px;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .nav {
        display: block;
        width: 100%;
        margin: auto;
        padding-bottom: 15px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        margin: 0;
        padding-top: 0;
    }

    .nav {
        width: auto;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}
