.speakers {
  background-image: url('./images/background-nebula.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.speakers main {
  background: rgba(255, 255, 255, .8);
  border-radius: 40px;
  padding-bottom: 50px;
}

.speaker-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 500px));
  justify-content: center;
}

.mc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .speakers {
    padding: 100px 80px;
  }
}
