.speaker {
  display: flex;
  margin: 0 40px 100px;
  align-items: center;
}

.speaker-image,
.placeholder {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.speaker p {
  color: black;
  font-size: 13px;
  line-height: 1.3em;
}

.placeholder {
  background: gray;
  min-width: 125px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding-left: 100px;
  padding-right: 10px;
  margin-left: -75px;
  border-radius: 10px;
  text-align: left;
}

.speaker:hover .info-container {
  background: black;
}

.speaker:hover .info-container p {
  color: white;
}

.info-row {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.icon-container {
  display: flex;
  width: 30px;
  min-width: 30px;
  margin-right: 10px;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  .speaker-image,
  .placeholder {
    width: 150px;
    height: 150px;
  }

  .placeholder {
    min-width: 150px;
  }
}
