.speaker {
  display: flex;
  margin: 0 40px 100px;
  align-items: center;
}

.speaker-image,
.placeholder {
  width: 125px;
  min-width: 125px;
  height: 125px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.speaker p {
  color: black;
  font-size: 13px;
  line-height: 1.3em;
}

.placeholder {
  background: gray;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding-left: 100px;
  padding-right: 10px;
  margin-left: -75px;
  border-radius: 10px;
  text-align: left;
}

.speaker:hover .info-container {
  background: black;
}

.speaker:hover .info-container p {
  color: white;
}

.speaker p.company {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-bottom: 10px;
}

.speaker p.topic {
  color: #ff6400;
}

.social-media-container {
  margin-top: 5px;
}

.social-media-container svg {
  margin-right: 20px;
  width: 24px;
}

.speaker:hover .social-media-container svg {
  fill: white;
}

@media only screen and (min-width: 480px) {
  .speaker-image,
  .placeholder {
    width: 150px;
    min-width: 150px;
    height: 150px;
  }
}
